
.clickToOpen{
  transition: 0.2s all linear;
}
.clickToOpen:hover{
  background-color: white;
  cursor: pointer;
  filter: blur(2px);
  box-shadow: 3px 0px 2px 2px rgba(255, 166, 0, 0.145);
}
.modalForClickImage{
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.336);
  position: fixed;
  top: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
  display: none;
  transition: 0.5s all linear;
  overflow: scroll;
}
.modalClickImage-container{
  /* max-width: 60vw;
  max-height: 60vw;
  height: 70vh;
  width: 70vw; */
  background-color: white;
  box-shadow: var(--dark-shadow);
  border-radius: 20px;
  transition: 0.3s all linear; 
  opacity: 0;
  margin-top: 64px;
}
.modalOpenImg {
  max-width: 80vw;
  max-height: 75vh;
  transition: 0.3s all linear;
  padding: 10px;
  border-radius: 20px;
}

/* .closeImageModal, .nextModalImg, .prevModalImg{
  position: absolute;
  
} */

.closeImageModal{
position: absolute;
padding: 10px 14px;
font-size: 36px;
background: transparent;
border: transparent;
color: red;
transform: translateX(-50px);
transition: 0.3s all linear;
}
.closeImageModal:hover{
  cursor: pointer;
  font-size: 40px;
  color: var(--mustard);
}

.prevModalImg,.nextModalImg{
background-color: var(--mustard);
padding: 10px 20px;
font-size: 24px;
border: transparent;
color: white;
border-radius: 50%;
margin: 10px;
box-shadow: var(--dark-shadow);
}
.prevModalImg:hover,.nextModalImg:hover{
  background-color: black;
  cursor: pointer;
}

.modalButtonsImg{
  display: flex;
}