#room-Boxes {
  display: flex;
  max-width: 1100px;
  margin: auto;
}
.left-room-box {
  height: auto;
  width: 32%;
  height: 550px;
  border: 1px double rgba(137, 136, 136, 0.664);
  border-radius: 3px;
  transition: 0.5s all linear;
  background-color: rgb(255, 253, 249);
  /* background:linear-gradient(rgba(255, 255, 255, 0.604),white), url(../img/whiteBack.jpg) center center/cover no-repeat; */
}
.right-room-box {
  height: 550px;
  border-radius: 3px;
  transition: 0.5s all linear;
  background-color: rgb(255, 253, 249);
  width: 68%;
  padding: 10px;
  box-shadow: var(--dark-shadow);
}
.left-room-box, .right-room-box {
  margin: 10px;
}

.left-room-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 40px 18px;
  box-shadow: var(--light-shadow);
  height: auto;
}
.left-room-box .header-aboutus {
  text-align: center;
  margin: 0;
  padding: 0;
}

.left-room-box .header-aboutus h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.left-room-box .header-aboutus p {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
.bedIcon {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  width: fit-content;
  border-radius: 20px;
  padding: 4px 10px;
  margin: auto;
  margin-top: 10px;
  transition: 0.6s all linear;
}
.bedIcon img {
  width: 15px;
  height: 15px;
}
.bedIcon i {
  font-size: 16px;
  color: var(--mustard);
  margin: 0 8px;
}
.bedContent {
  background-color: aliceblue;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
}
.amenities {
  text-align: center;
}
.amenities p {
  color: gray;
  transition: 0.5s all linear;
  text-align: center;
}
.amenities-content {
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: center;
}
.amenities-content img {
  width: 20px;
  height: 20px;
  margin: 2px 7px;
}


.left-room-box:hover{
  background:linear-gradient(rgba(0, 0, 0, 0.544),rgba(0, 0, 0, 0.544)), url(../img/BlackBack.jpg) center center/cover no-repeat;
  box-shadow: var(--dark-shadow);
  cursor: pointer;
  color: white;
  transform: translateY(-10px);
}

.left-room-box:hover .amenities p {
  color:rgb(226, 221, 221);
}
.left-room-box:hover .header-aboutus p {
  color:rgb(255, 255, 255);
}

.left-room-box .btn3 {
  border-color: var(--mustard);
  color: var(--mustard);
}

.left-room-box:hover .btn3 {
  color: white;
  border-color: white;
}
.left-room-box .btn3:hover{
  border-color: var(--mustard);
}
.left-room-box:hover .bedIcon{
  background-color: white;
}
.left-room-box:hover .bedIcon p{
  color: var(--mustard);
}

.roomSlides{
  width: 100%;
  height: 75%;
  object-fit: cover;
  transition: 0.4s all linear;
}
.roomSlides img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.roomContentBox{
  height: 40%;
}

/* RIGHT SIDE */
.roomContentBox{
  display: flex;
  flex-direction: row;
}

.left-roomContentBox{
  width: 60%;
  padding: 10px;
  border-right: 2px dashed gray;
  height: fit-content;
  margin-top: 10px;
}
.right-roomContentBox{
  width: 40%;
  padding: 10px;
  margin-top: 10px;
}


.right-roomContentBox{
  text-align: center;
  color: #333;
}
.right-roomContentBox h2{
margin-bottom: 10px;
}
.roomSlides{
  display: flex;
  overflow: hidden;
  transition: 0.4s all linear;
}


.roomSlides img{
  transition: 0.4s all linear;
}


.roomSlidePrev,.roomSlideNext{
  position: absolute;
  margin: 20px;
  top: 33%;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  font-size: 25px;
  color: white;
  padding:0 20px;
  transition: 0.3s all linear;
}
.roomSlidePrev:hover,.roomSlideNext:hover{
  color: var(--mustard);
  cursor: pointer;
}
.roomSlidePrev
{
  left: 0;
}

.roomSlideNext{
  right: 0;
}
.right-room-box{
  position: relative;
}

.roomSlide .clickToOpen{
  transition: none;
}
#room-Boxes:nth-child(even)
{
flex-direction: row-reverse;
}
.roomSlideImg{
  transition: none !important;
}
.roomSlideImg2{
  transition: none !important;
}
@media screen and (max-width:980px) {
  .left-room-box .header-aboutus h3 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  .amenities-content {
    font-size: 14px;
  }

  .amenities-content img {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 4px;
  }
}
@media screen and (max-width:900px) {
  .amenities-content {
    font-size: 12px;
  }

  .amenities-content img {
    width: 15px;
    height: 15px;
    margin: 1px 4px;
  }
}
@media screen and (max-width:850px) {
  #room-Boxes {
    padding: 20px;
    flex-direction: column-reverse;
  }

  .left-room-box, .right-room-box {
    margin: 0;
    height: auto;
  }

  .left-room-box {
    width: 100%;
    margin-top: 20px;
  }

  .right-room-box {
    height: auto;
    width: 100%;
  }
  .left-room-box {
    background:linear-gradient(rgba(0, 0, 0, 0.544),rgba(0, 0, 0, 0.544)), url(../img/BlackBack.jpg) center center/cover no-repeat;
    box-shadow: var(--dark-shadow);
    cursor: pointer;
    color: white;
    transform: translateY(-10px);
  }
  
  .left-room-box .amenities p {
    color:rgb(226, 221, 221);
  }
  .left-room-box .header-aboutus p {
    color:rgb(255, 255, 255);
  }
  
  .left-room-box .btn3 {
    border-color: var(--mustard);
    color: var(--mustard);
  }
  
  .left-room-box .btn3 {
    color: white;
    border-color: white;
  }
  .left-room-box .btn3{
    border-color: var(--mustard);
  }
  .left-room-box .bedIcon{
    background-color: white;
  }
  .left-room-box .bedIcon p{
    color: var(--mustard);
  }
  #room-Boxes:nth-child(even)
  {
  flex-direction:column-reverse;
  }
}
@media screen and (max-width:800px) {
  .roomContentBox{
   display: block;
  }
  
  .left-roomContentBox{
    width: 100%;
    border-bottom: 2px dashed rgba(128, 128, 128, 0.488);
    padding-bottom: 10px;
    border-right: none;
  }
  .right-roomContentBox{
    width: 100%;
  }.roomSlides{
    width: 100%;
    height: 300px;
  }

}
