#sideForm {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* height:auto; */
  box-sizing: border-box;
  transition: 0.5s;
  display: flex;
}

#sideForm:hover {
  /* right:-350px; */

}

.sideForm-container {
  /* width: 300px; */
  width: 0;
  height: 400px;
  background-color: rgb(248, 249, 238);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
  margin-top: 29px;
  transition: 0.3s all linear;
  overflow: hidden;
}

.sideFormNav {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 240px;
}


.sideForm-block2 {
  background-color: rgb(39, 82, 167);
  height: auto;
  position: relative;
  overflow: hidden;
  height: 120px;
  display: grid;
  place-items: center;
}

.rotate270 {
  transform: rotate(270deg);
  color: white;
  width: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 12px;
}

.rotate270 i {
  font-size: 10px;
  margin: 4px;
}

.spaceError {
  color: rgba(240, 248, 255, 0);
}

.sideFormNav>div {
  transition: 0.3s all linear;
}

.sideFormNav>div:hover {
  cursor: pointer;
}

.sideForm-block1 {
  background-color: black;
  color: white;
  width: 50px;
  text-align: center;
  padding: 7px;
  border-top-left-radius: 10px;
  font-size: 12px;

}

.sideForm-block3, .sideForm-block4 {
  width: 50px;
  text-align: center;
  padding: 12px 5px;
  font-size: 17px;
  color: white;
  transition: 0.3s all linear;
}

.sideForm-block3 {
  background-color: lawngreen;
  transition: 0.3s all linear;
  display: flex;
  justify-content: center;
  position: relative;
}

.sideForm-block4 {
  background-color: rgb(172, 75, 75);
  border-bottom-left-radius: 10px;
  transition: 0.3s all linear;
  display: flex;
  justify-content: center;
  position: relative;
}

.sideForm-block3 .sideFormText {
  background-color: lawngreen;
}

.sideForm-block4 .sideFormText {
  background-color: rgb(172, 75, 75);
}

.sideFormText {
  /* display: none; */
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translateX(82px);
  margin: 0;
  height: 40px;
  padding: 22px 14px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 120px;
  justify-content: center;
  transition: 0.3s all linear;
  z-index: -3;
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 2px;
}

.sideForm-block3:hover .sideFormText {
  transform: translateX(-82px);

}

.sideForm-block4:hover {
  border-radius: 0;
}

.sideForm-block4:hover .sideFormText {
  transform: translateX(-82px);

}

.sideForm-block3:hover, .sideForm-block4:hover {
  cursor: pointer;
}

.hideSideFormBlocks .sideForm-block2, .hideSideFormBlocks .sideForm-block3, .hideSideFormBlocks .sideForm-block4 {
  transform: translateX(50px);
}

.hideSideFormBlocks .sideForm-block1 {
  border-bottom-left-radius: 10px;
  background-color: var(--mustard);
}

.hideSideFormBlocks .sideForm-block1:hover {
  cursor: pointer;
  background-color: black;
}

.sideForm-block1:hover {
  background-color: var(--mustard);
}

.sideForm-block2:hover {
  background-color: rgb(43, 43, 65);
}

.closeSideForm {
  padding: 15px;
  font-size: 25px;
  color: red;
  transition: 0.3s all linear;
}

.closeSideForm i:hover {
  color: brown;
  transform: rotate(270deg);
  cursor: pointer;
}
.sideForm-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sideForm-top img{
width: 60px;
height: 30px;
display: block;
margin: 15px;
}
.sideForm-container .section-header{
  padding: 5px;
}
.sideForm-container .section-header h3{
  font-size: 20px;
  margin: 4px;
  color: rgb(3, 11, 82);
}
.sideForm-container .section-header p{
  font-size: 16px;
}
.opacity-control{
  opacity: 0;
}
#sideContactForm{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#sideContactForm input{
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  padding: 4px 8px;
  color: #333;
}
#sideContactForm textarea{
  height: 100px;
  margin-bottom: 5px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 8px;
  color: #333;
  
}
#sideContactForm input:focus{
  border: 1px solid gray;
}
#sideContactForm label{
font-size: 13px;
text-align: left;
margin: 5px 0;
color: gray;
}

#sideContactForm select{
border: none;
margin-bottom: 4px;
color: #333;
padding: 2px;
background: rgb(224, 223, 223);
}

#sideContactForm .SideformSubmitbtn{
  background-color: black;
  color: white;
  padding: 7px;
  transition: 0.3s all linear;
}

#sideContactForm .SideformSubmitbtn:hover{
background-color: var(--mustard);
cursor: pointer;

}

