:root {
  --primary-color: rgb(153, 110, 2);
  /* --mustard: #7b9bbc; */
  --mustard: #FFB200;
  --transition: 0.3s all linear;
  --secondry-color: white;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
/* header */
#header {
  position: relative;
}
/* NAVBAR */
#navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: var(--transition);
}
a {
  text-decoration: none;
}

/* SLIDER */
#slider {
  background-color: rgb(0, 0, 0);
  background: linear-gradient(#0a0a0a00, rgba(29, 23, 2, 0), #00000000),
    url(../img/slide1.jpg) center/cover no-repeat;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
  display: block;
}

.secondry-color {
  color: var(--secondry-color);
}

.secondry-color-red {
  color: var(--mustard);
}
/* LOGO */
.logo-top {
  text-align: center;
  transition: 1s all linear;
}
.logo-top img {
  width: 120px;
  margin: 5px;
}
/* LINKS IN NAVBAR */
.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links ul li {
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.links a {
  color: white;
  transition: var(--transition);
}
.links a:hover {
  color: var(--primary-color);
}

/* 3 ICONS HEADER BASE */
.headerBase {

  background-color: rgb(226, 229, 229);

}

.headerBaseContainer {
  padding: 35px 0;
  display: flex;
  margin: auto;
  max-width: 1100px;
}

.headerBaseContainer img {
  width: 60px;
  height: 60px;
  padding: 4px;
  margin: 10px;
}

.headerBaseContainer>div {
  width: 33%;
  padding: 13px 8px;

}

.flex {
  display: flex;
  justify-content: center;
}

/* SIDEBAR */
.topBar {
  display: none;
}

.close-btn {
  display: none;
}

.social-icons {
  display: none;
}



/* SLIDER */
.slider-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.556);
  transition: 0.8s ease-in;
}
#slider {
  overflow: hidden;
}
#slider-scroll {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-content {
  width: 70%;
}

.slider-content>div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSlide {
  width: 50%;
  text-align: center;
}

.logoSlide img {
  width: 80%;
}

.logoText {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.slide2 .logoText {
  width: 100%;
}
.logoText h3 {
  color: var(--mustard);
  font-size: 53px;
  margin-bottom: 10px;
}

.logoText p {
  color: white;
  font-size: 20px;
}

.logoText h1 {
  margin-bottom: 10px;
  color: var(--mustard);
  font-size: 50px;
}

.slide3 img {
  width: 350px;
}

.slider-container:nth-child(1) {
  background: linear-gradient(#000000a4, rgba(7, 6, 3, 0.586), #000000b2),
    url(../img/slide1.jpg) center/cover no-repeat;
}

.slider-container:nth-child(2) {
  /* transform: translateX(-200vw); */
  background: linear-gradient(#000000a4, rgba(7, 6, 3, 0.586), #000000b2),
    url(../img/slide2.jpg) center/cover no-repeat;
  text-align: center;
}

.slider-container:nth-child(3) {
  /* transform: translateX(-200vw); */
  background: linear-gradient(#000000a4, rgba(7, 6, 3, 0.586), #000000b2),
    url(../img/mapSectionBackground_GurukulPG.jpg) center/cover no-repeat;
  text-align: center;

}

.slider-container:nth-child(3) img {
  box-shadow: 1px 9px 180px #35200056;
}

.nextBtn, .prevBtn {
  font-size: 45px;
  position: absolute;
  background: transparent;
  border: transparent;
  color: rgba(255, 255, 255, 0.376);
  margin: 20px;
  z-index: 2;
  cursor: pointer;
  padding: 30px;
}

.nextBtn {
  top: 45vh;
  right: 0;
}

.prevBtn {
  top: 45vh;
  left: 0;
}

.nextBtn:hover, .prevBtn:hover {
  color: var(--mustard);
}

.slide-btn {
  text-align: center;
  margin-top: 4px;
}

.btn1 {
  color: var(--mustard);
  border: 1px double var(--mustard);
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  transition: var(--transition);
  letter-spacing: 2px;
}

.btn1:hover {
  background-color: var(--mustard);
  color: rgb(0, 0, 0);

}

.btn2 {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 10px;
  transition: var(--transition);
  letter-spacing: 2px;
  color: var(--mustard);
  border: transparent;
  background-color: #000000;
}

.btn2:hover {
  background-color: var(--mustard);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn3 {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 10px;
  transition: var(--transition);
  letter-spacing: 2px;
  color: white;
  border: transparent;
  background-color: transparent;
  border: 4px solid white;
}

.btn3:hover {
  background-color: var(--mustard);
  color: rgb(255, 255, 255);
  border: 4px solid var(--mustard);

  cursor: pointer;
}

/* fixed navbar */
.fixed-nav {
  transition: var(--transition);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6vw;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.129);
  height: 60px;
}

.fixed-nav ul li a {
  color: var(--mustard);
}

.fixed-nav ul li a:hover {
  color: black;

}

.fixed-nav .logo-top img {
  width: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.397);
  z-index: 1;
  transition: var(--transition);
  text-align: center;
  border-radius: 10px;
  background-color: #000000cc;
  height: 0;
  padding: 5px 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--mustard);
  padding: 4px 8px;
  text-decoration: none;
  display: block;
  font-size: 12px
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  height: auto;

}

.fixed-nav .dropdown-content a:hover {
  color: white;
}


/* ABOUT US */
#aboutus {
  margin: auto;
  padding: 30px;
  height: auto;
}

.header-aboutus {
  padding-right: 15px;
  width: auto;
  display: inline-block;
}

.header-aboutus p {
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 5px;
  color: var(--mustard);
}

.header-aboutus h3 {
  font-size: 38px;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

.underline {
  /* min-height: 5px; */
  width: auto;
  margin-top: 5px;
  display: block;
  background-color: #ffffff;
  padding-top: 2px;
  border-top: 2px solid rgb(0, 0, 0);
  margin-bottom: 8px;

}

.underline-2 {
  background-color: #000000;
  height: 5px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
}

.flex-container {
  display: flex;
}

.flex-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-img {
  width: 50%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-img img {
  width: 100%;
  text-align: center;
}

.flex-img iframe {
  width: 90%;
  text-align: center;
  height: 100%;
  min-height: 300px;
  box-shadow: var(--dark-shadow);
}

.italics {
  font-size: 21px;
  font-weight: 100;
  color: #828181;
  letter-spacing: 1px;
  line-height: 2rem;
  margin-bottom: 15px;
}

.italics-small {
  font-size: 18px;

}

.section-header {
  text-align: center;
  padding: 30px;
}

.section-header h3 {
  font-size: 35px;
  margin-bottom: 10px;
}

.section-header p {
  font-size: 18px;
  color: gray;
}

/* Showcase 1 */
.showcase {
  min-height: 400px;
  display: grid;
  place-items: center;
}

.showcase1 {
  background: linear-gradient(#00000087, rgba(15, 12, 0, 0.614), #000000ea),
    url(../img/mapSectionBackground_GurukulPG.jpg) center/cover no-repeat fixed;
}

.showcase1 .header-aboutus {
  color: white;
}

.showcase1 .flex-container .underline, .gallery .underline {
  /* min-height: 5px; */

  display: block;
  background-color: transparent;
  padding-top: 1px;
  border-top: 2px solid rgb(255, 255, 255);
  margin-bottom: 8px;
  padding-top: 2px;
}

.showcase1 .underline-2, .gallery .underline-2 {
  background-color: #ffffff;

  height: 5px;
}

.showcase1 p {
  text-align: center;
  font-size: 15px;
}

.showcase1 .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase1 p {
  color: white;
}

.showcase1 .italics-small {
  color: #ffffff;
  font-size: 14px;
  margin: 8px;
}

.map-showcase {
  width: 300px;
}

.map-showcase img {
  width: 100%;
}

/* EXPERIENCE */
.section2 {
  text-align: right;
}

footer {
  padding: 25px;
  background-color: rgb(249, 248, 248);
  box-shadow: 1px 0px 9px rgba(71, 70, 70, 0.163);

}

.footer-header {
  display: flex;
  padding: 60px 0;

}

.footer-header>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.footer-header h4 {
  font-size: 25px;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--mustard);
}

.footer-header p {
  font-size: 16px;
  color: #4c4b4b;
}

footer .social-icons {
  display: block;
}

footer .social-icons ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

footer .social-icons ul li a {
  padding: 8px;
  margin: 6px;
  width: 10px;
  height: 10px;
  font-size: 17px;
  color: var(--mustard);
  background-color: rgb(249, 248, 248);
  box-shadow: 1px 0px 9px rgba(71, 70, 70, 0.163);
  border-radius: 50%;
  transition: var(--transition);
  margin-bottom: 10px;
}

footer .social-icons ul li a:hover {
  margin-top: 20px;
  background-color: var(--mustard);
  color: white;
  position: relative;
  top: -10px;
}

.footer-line {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 2px;
  color: #4c4b4b;


}
.gallery {
  background: linear-gradient(#000000e2, rgba(0, 0, 0, 0.776), #000000c2),
    url(../img/slide1.jpg) center/cover no-repeat;
  height: auto;
  padding: 30px 0;
}

.image {
  height: 220px;
  max-width: 220px;
  padding: 5px;
  /* position: absolute; */
  overflow: hidden;
  transition: 0.2s all ease-out;
}

.image-block {
  transition: var(--transition);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: var(--transition);
}
.flex-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.gallery .header-aboutus {
  color: white;
  text-align: center;
}
.gallery .header-aboutus p {
  color: white;
}
.gallery .container {
  text-align: center;
  max-width: 1100px;
}


/* SUBPAGE */
.subpage #slider {
  height: 50vh;
}

.menu #slider {
  background: linear-gradient(#000000c2, rgba(29, 23, 2, 0.455), #000000c2),
    url(../img/menu/menupage.jpg) center/cover no-repeat;
}

.dashes {
  width: 100px;
  height: 2px;
  margin: 20px;
  background-color: white;
}

.slider-top {
  display: flex;
  align-items: center;
  color: white;
}

.slider-top-icon {
  color: var(--mustard);
  font-size: 50px;
}

.slider-top h3 {
  font-size: 20px;
}

.slider-content .section-header {
  padding: 0px;
  margin-bottom: 20px;
}

/* MAP SHOWCASE */
.showcase1 .flex-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.showcase1 .header-aboutus {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.showcase1 .map-showcase {
  width: 40%;
  padding: 5px;
  height: 280px;

}

.map-showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--dark-shadow);

}

.map-showcase2 {
  width: 20%;
  padding: 5px;
  display: flex;
  height: 280px;
}

.map-showcase2 video {
  width: 100%;
  object-fit: cover;
  height: 100%;
  box-shadow: var(--dark-shadow);
}

.map-showcase2 iframe {
  width: 100%;

}

.header-aboutus p {
  margin: 10px;
  font-size: 15px;
}

.header-aboutus {
  padding-bottom: 20px;
}
/* TESTIMONIALS */
.size-container {
  max-width: 1100px;
  margin: auto;
}

#testimonials {
  overflow: hidden;
  background-color: rgb(243, 243, 243);
}
.testimonial-content {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.customer-center {
  width: 50%;
}
.customer-left, .customer-right {
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.customer-img {
  width: 100px;
  object-fit: cover;
  height: 100px;
}
.customer-center {
  text-align: center;
}
.customer-center .customer-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: var(--dark-shadow);
  margin-bottom: 10px;
}
.customerName {
  color: #333;
}
.customerLocn {
  color: gray;
}
.customerRating {
  margin: 15px;
  color: #FF9529;
}
.customerRating i {
  font-size: 18px;
  margin-right: 3px;
}
.customerReview {
  color: #333;
  padding: 10px 20px;
  text-align: center;
  width: 60%;
  margin: auto;
}
.customer-left img, .customer-right img {
  margin-top: 60px;
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
  filter: blur(1px)
}
.customer-left img {
  position: absolute;
  right: 0;
}
.customer-right img {
  position: absolute;
  left: 0;
}
#prevCustomer, #nextCustomer {
  background-color: transparent;
  border: transparent;
  padding: 10px;
  font-size: 28px;
  position: absolute;
  bottom: 0;
  transition: 0.3s all linear;
  color: black;
}
#prevCustomer:hover, #nextCustomer:hover {
  cursor: pointer;
  color: var(--mustard);
}
.testimonialBlock{
width: 35%;
background-color: rgb(5, 1, 21);
height: 450px;
margin-top: 25px;
border-top-right-radius:30% ;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
padding: 10px 30px;
color:var(--mustard);
}
.flex-testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testimonialVideo{
  width: 65%;
}
.testimonialVideo iframe{
  width: 460px;
  height: 300px;
}
.testimonialVideo h4{
  font-size: 20px;
  color: rgb(25, 24, 24);
}
.customerReview{
  height: 170px;
  transition: 0.3s all linear;
}
#sideForm {
  position: fixed;
  z-index: 999;
  top: 55%;
  right: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
  transition: 0.5s;
  display: flex;
}
.sideForm-container {
  width: 0;
  height: 450px;
  background-color: rgb(248, 249, 238);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
  margin-top: 29px;
  transition: 0.3s all linear;
  overflow: hidden;
}
.sideFormNav {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 240px;
}
.sideForm-block2 {
  background-color: rgb(39, 82, 167);
  height: auto;
  position: relative;
  overflow: hidden;
  height: 120px;
  display: grid;
  place-items: center;
}
.rotate270 {
  transform: rotate(270deg);
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 12px;
}
.rotate270 i {
  font-size: 10px;
  margin: 4px;
}
.spaceError {
  color: rgba(240, 248, 255, 0);
}
.sideFormNav>div {
  transition: 0.3s all linear;
}
.sideFormNav>div:hover {
  cursor: pointer;
}
.sideForm-block1 {
  background-color: black;
  color: white;
  width: 60px;
  text-align: center;
  padding: 7px;
  border-top-left-radius: 10px;
  font-size: 12px;
}
.sideForm-block3, .sideForm-block4 {
  width: 60px;
  text-align: center;
  padding: 14px 5px;
  font-size: 20px;
  color: white;
  transition: 0.3s all linear;
}
.sideForm-block3 {
  background-color: lawngreen;
  transition: 0.3s all linear;
  display: flex;
  justify-content: center;
  position: relative;
}
.sideForm-block4 {
  background-color: rgb(172, 75, 75);
  border-bottom-left-radius: 10px;
  transition: 0.3s all linear;
  display: flex;
  justify-content: center;
  position: relative;
}
.sideForm-block3 .sideFormText {
  background-color: lawngreen;
}

.sideForm-block4 .sideFormText {
  background-color: rgb(172, 75, 75);
}
.sideFormText {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translateX(82px);
  margin: 0;
  height: 49.5px;
  padding: 22px 16px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 120px;
  justify-content: center;
  transition: 0.3s all linear;
  z-index: -3;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 2px;
}
.sideForm-block3:hover .sideFormText {
  transform: translateX(-82px);
}
.sideForm-block4:hover {
  border-radius: 0;
}
.sideForm-block4:hover .sideFormText {
  transform: translateX(-82px);
}
.sideForm-block3:hover, .sideForm-block4:hover {
  cursor: pointer;
}

.sideForm-block1:hover {
  background-color: var(--mustard);
}
.sideForm-block2:hover {
  background-color: rgb(43, 43, 65);
}
.closeSideForm {
  padding: 15px;
  font-size: 28px;
  color: red;
  transition: 0.3s all linear;
}
.closeSideForm i:hover {
  color: brown;
  transform: rotate(270deg);
  cursor: pointer;
}
.sideForm-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sideForm-top img{
width: 60px;
height: 30px;
display: block;
margin: 15px;
}
.sideForm-container .section-header{
  padding: 5px;
}
.sideForm-container .section-header h3{
  font-size: 24px;
  margin: 4px;
  color: rgb(3, 11, 82);
}
.sideForm-container .section-header p{
  font-size: 16px;
}
.opacity-control{
  opacity: 0;
}
#sideContactForm{
  display: flex;
  flex-direction: column;
  padding: 15px;

}
#sideContactForm input{
  margin-bottom: 7px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  padding: 6px 8px;
  color: #333;
  font-size: 15px;

}
#sideContactForm textarea{
  height: 120px;
  margin-bottom: 8px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 8px;
  color: #333;
  font-size: 15px;
  
}
#sideContactForm input:focus{
  border: 1px solid gray;
}
#sideContactForm label{
font-size: 13px;
text-align: left;
margin: 5px 0;
color: gray;
}

#sideContactForm select{
border: none;
margin-bottom: 4px;
color: #333;
padding: 2px;
background: rgb(224, 223, 223);
font-size: 14px;
}

#sideContactForm .SideformSubmitbtn{
  background-color: black;
  color: white;
  padding: 7px;
  transition: 0.3s all linear;
}

#sideContactForm .SideformSubmitbtn:hover{
background-color: var(--mustard);
cursor: pointer;

}


/* sidebar */
#OurRooms {
  background: linear-gradient(#ffffffe8, rgba(255, 255, 255, 0.628), #ffffff),
    url(../img/roomsBackground.jpg) center/cover no-repeat;
  height: auto;
}
.roomContainer{
  height: 93vh;
}


  .room-img img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
  }

  .roomContainer .setRoomData .header-aboutus {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }

  .roomContainer .setRoomData .header-aboutus h3 {
    font-size: 30px;
    text-align: center;
    margin: auto;
    width: fit-content;
  }
  .setRoomData{
    display: grid;
    place-items: center;
  }




  .room-flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

  }

  .room-info {
    padding: 5px 13px;
  }

  .room-info img {
    width: 35px;
    height: 35px;
  }

  .room-info .room-flex img {
    margin-right: 15px;
  }

  .room-icons {
    padding: 10px;
  }

  .room-icons {
    display: flex;
    margin: auto;
    /* background-color: antiquewhite; */
  }

  .room-icons>div {
    margin: 5px;
    width: 50%;
  }
  .prev-next-btns{
    text-align: center;
    display: flex;
  }
  .prev-next-btns button{
    background-color: var(--mustard);
    border: hidden;
    padding: 10px 14px;
    font-size: 15px;
    transition: 0.3s all linear;
    box-shadow: var(--light-shadow);
    margin: 4px;
  }
  .prev-next-btns button:hover{
    background-color: black;
    cursor: pointer;
    color: var(--mustard);
  }
.room-flex{
  margin:5px;

}
.room-flex img{
  width: 25px;
  height: 25px;
}
.room-flex p{
  font-size: 13px;
}
.room-btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.setRoomData{
  overflow: hidden;
  transition: 0.3s all linear;
}


.room-content{
  overflow: hidden;

}
@media screen and (min-width:700px) {

    
  .room-img {
  width: 80%;
  height: 70vh;
  margin: auto;
  background: rgb(255, 255, 255);
  box-shadow: var(--dark-shadow);
  border-radius: 20px;
  position: relative;
  right: 60px;
}
  .room-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 70%;
  position: relative;
  bottom: 250px;
  left: 200px;
  box-shadow: var(--dark-shadow);
  padding: 20px;
  border-radius: 20px;
  border: 10px solid white;
  background: linear-gradient(#fffffff7, rgba(255, 255, 255, 0.942), #ffffff),
  url(../img/roomsBackground.jpg) center/cover no-repeat; 
}
}
@media screen and (min-width:900px) {
  .room-img {
  width: 76%;
  height: 73vh;
  margin: auto;
  background: rgb(255, 255, 255);
  box-shadow: var(--dark-shadow);
  border-radius: 20px;
  position: relative;
  right: 60px;
}
  .room-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 60%;
  position: relative;
  bottom: 340px;
  left: 400px;
  box-shadow: var(--dark-shadow);
  padding: 20px;
  border-radius: 20px;
border: 10px solid white;
  
}

}

@media screen and (max-width:800px) {
  .roomContainer{
     height: 110vh;
  }
}
@media screen and (max-width:700px) {

  .room-img {
    width: 90%;
    height: 300px;
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: var(--dark-shadow);
    border-radius: 20px;
  }
  .room-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
  border: none;
   
  }

  .room-flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }
  .roomContainer{
  height: auto;
  }

 
}
@media screen and (max-width:1000px) {
  .flex-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    place-items: center;
  }
}
@media screen and (max-width:980px) {
  .left-room-box .header-aboutus h3 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  .amenities-content {
    font-size: 14px;
  }

  .amenities-content img {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 4px;
  }
}
@media screen and (max-width:900px) {
  .amenities-content {
    font-size: 12px;
  }

  .amenities-content img {
    width: 15px;
    height: 15px;
    margin: 1px 4px;
  }
}
@media screen and (max-width:850px) {

  /* TOP  BAR LOGO AND TOGGLE BTN*/
  .topBar {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topBar img {
    width: 90px;
  }

  .nav-toggle {
    font-size: 28px;
    background-color: transparent;
    border: transparent;
    color: var(--mustard);
    transition: var(--transition);

  }

  .nav-toggle:hover {
    transform: rotate(90deg);
    cursor: pointer;
    color: var(--primary-color);
  }

  #navtop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .headerBaseContainer {
    flex-direction: column;
    text-align: center;
  }

  .headerBaseContainer>div {
    width: 100%;
    padding: 10px 20px;
  }

  .headerBaseContainer img {
    text-align: center;
  }

  .header-icons {
    text-align: center;
  }

  .navbar {
    position: fixed;
    width: 310px;
    height: 100vh;
    overflow: scroll;
    background-color: rgb(41, 18, 6);
    display: flex;
    flex-direction: column;
    /* padding: 40px 0; */
    align-items: center;
    transition: var(--transition);
    top: 0;
    left: 0;
    transform: translateX(-350px);
    padding-top: 15px;
  }

  .show-navbar {
    transform: translateX(0px);
  }

  .logo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;

  }

  .logo-top img {
    width: 130px;
  }

  .close-btn {
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    color: rgb(255, 38, 0);
    transition: var(--transition);
    display: block;
  }

  .close-btn:hover {
    transform: rotate(90deg);
    cursor: pointer;
    color: var(--mustard);
  }

  .links {
    min-height: 70%;
  }

  .links ul {
    flex-direction: column;
    margin-top: 10px;

  }

  .links ul li {
    padding: 8px 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: var(--transition);
  }

  .links ul li:hover {
    color: var(--mustard);
    margin-left: 20px;
  }

  .logo-top {
    margin: 20px;
  }

  .social-icons {
    width: 100%;
  }

  .social-icons {
    position: relative;
    bottom: 0;
  }

  .social-icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .social-icons ul li a {
    padding: 10px;
    color: var(--mustard);
    font-size: 20px;
    transition: var(--transition);
  }

  .social-icons ul li a:hover {
    color: white;
  }

  .social-icons {
    display: block;
  }
  .logoSlide {
    width: 100%;
    margin-bottom: 15px;
  }

  .logoSlide img {
    width: 100%;
  }

  .flex {
    flex-direction: column;
  }

  .logoText {
    width: 100%;
  }

  .logoText h1 {
    font-size: 33px;
  }

  .logoSlide img {
    width: 180px;
  }

  .slider-content {
    width: 95%;
    text-align: center;

  }

  .nextBtn, .prevBtn {
    font-size: 30px;
  }
  .logoText h3 {
    color: var(--mustard);
    font-size: 33px;
    margin-bottom: 10px;
  }
  
  .logoText p {
    color: white;
    font-size: 17px;
  }
  .flex-container {
    flex-direction: column;
  }

  .flex-content {
    width: 100%;
  }

  .flex-img {
    width: 100%;
    margin-top: 25px;
  }

  .flex-img img {
    width: 350px;
  }
  .showcase1 .flex-container {
    flex-direction: column;
  }

  .showcase1 .map-showcase {
    width: 100%;
  }

  .map-showcase2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .showcase1 .header-aboutus {
    width: 100%;
  }
  .footer-header {
    flex-direction: column;
  }

  .footer-header>div {
    width: 100%;
    padding: 20px;
  }
  .flex-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    place-items: center;
  }
  
}
@media screen and (max-width:800px) {
  .sideForm-container{
    max-width: 300px;
  }
  .customer-center {
    width: 40%;
  }

  .customer-left, .customer-right {
    width: 30%;
  }
  .customer-left img, .customer-right img {
    margin-top: 60px;
    width: 74px;
    height: 74px;
  }

  .customerReview {
    width: 100%;
  }

  .testimonialBlock{
    width: 100%;
    border-radius: 0;
    height: 200px;
  }
  .testimonialVideo iframe{
    width: 100%;
    height: 300px;
  }
  .testimonialVideo{
    width: 100%;
  }
  .flex-testimonials{
   flex-direction: column;
  }
  .roomContentBox{
   display: block;
  }
  
  .left-roomContentBox{
    width: 100%;
    border-bottom: 2px dashed rgba(128, 128, 128, 0.488);
    padding-bottom: 10px;
    border-right: none;
  }
  .right-roomContentBox{
    width: 100%;
  }.roomSlides{
    width: 100%;
    height: 300px;
  }

}
